<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Perfil do Usuário</title>
</head>
<body class="bg-gray-900">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-start text-white">
                <div class="space-x-4">
                    <a th:href="@{/}" class="bg-red-900 rounded-md px-3 py-2">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-8 py-6">
        <h1 class="text-3xl font-bold text-white mb-4">Resultados das Avaliações</h1>
        <!-- Botão para visualizar os resultados -->
        <form action="#" th:action="@{/getAvaliacoes}" method="get">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4">
                Ver Resultados
            </button>
        </form>

        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pontuação</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email do Usuário</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Observações</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Contato</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr th:each="avaliacao : ${listAvaliacoes}">
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${avaliacao.pontuacao}"></td>
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${avaliacao.emailUsuario}"></td>
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${avaliacao.observacoes}"></td>
                    <td class="px-6 py-4 whitespace-nowrap" th:text="${avaliacao.contato}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
